@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Playfair+Display:ital,wght@0,900;1,900&family=Noto+Serif+SC:wght@700;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #b91c1c;
  --color-secondary: #facc15;
  --font-serif: "Playfair Display", "Noto Serif SC", serif;
  --font-sans: "Inter", sans-serif;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .animate-spin-slow {
    animation: spin 12s linear infinite;
  }

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}

body {
  @apply bg-[#fcfcfb] text-slate-900 selection:bg-primary selection:text-white mt-0 pt-0;
}
